:root {
  --branding-color: #212529;
  --heading-font-family: "Josefin Slab";
  --content-font: "sans-serif";
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 76px;
}

h2 {
  font-family: var(--content-font);
  font-size: 24px;
}

.hero p {
  font-size: 36px;
}

.projects,
.projects-page,
.contact-page {
  text-align: center;
  padding: 160px 20px;
  border: 10px solid;
}

.contact-page {
  height: 100vh;
}

.hero {
  height: 100vh;
  padding: 200px 20px;
  text-align: center;
  border: 10px solid;
}

.home-h1 {
  padding-right: 0;
}

.certs {
  text-align: center;
}
.contact-btn {
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-family: var(--content-font);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding: 15px 30px;
}

.dp-img {
  height: 350px;
  padding-left: 50%;
}
.project-img,
.cert-img {
  width: 45%;
  height: 450px;
  margin: 0 auto;
  
}
.about {
  padding: 140px 20px;
  border: 10px solid;
}

.about-text {
  width: 45%;
  font-size: 18px;
  top: 30%;
  font-size: 15px;
}

.about-header {
  text-align: center;
}

footer{
  text-align: center;
  height: 4rem;
  background:var(--branding-color);
  color: #fff;
}



@media (max-width: 576px) {
  .hero {
    padding-top: 160px;
  }
  h1 {
    font-size: 48px;
    line-height: 1.5;
    text-align: center;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  p {
    text-align: center;
    margin: 0 auto;
  }

  .about {
    padding-top: 100px;
  }

  .about-text {
    padding: top 0;
  }

  .dp-img {
    padding-left: 0;
  }

  .project-img,
  .cert-img {
    width: 100%;
    height: 100%;
    margin-top: 0;
  }

  .contact-btn {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}

.logo {
  position: absolute;
  left: 10px;
  top: 0;
}
.underlined {
  text-decoration: underline;
}

/*Add custom cursor so it auto inherits font styles*/
.typed::after {
  content: "|";
  display: inline;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

/*Custom cursor animation*/
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Contact Page*/
.contact-div {
  width: 35%;
  padding: 20px;
  display: block;
  margin: 0 auto;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

i {
  color: var(--branding-color);
}

.icons {
  justify-content: space-between;
  width: 50%;
  margin-left: 100px;
}
